.list-cell:filled:selected, .list-cell:filled:selected:focused {
    -fx-background-color: rgba(0,0,0,0.3);
}
.list-cell {
    -fx-text-fill: black;
}
.list-cell:odd {
    -fx-background-color: transparent;
}
.list-cell:even {
    -fx-background-color: transparent;
}
.list-cell:filled:hover { 
    -fx-background-color: rgba(255,255,255,0.3); /* When mouse if on it but no click */
    -fx-text-fill: black;
}