#mainPane{
   -fx-background-image: url('Menu/MainBG.jpg');
   -fx-background-repeat: round;
   -fx-background-position: center center;
   -fx-background-size: 1200, 550;
   -fx-border-width: 0px;
}

#sidePaneInOptionBlack{
   -fx-background-repeat: round;   
   -fx-background-position: center center;
   -fx-background-size: 1200, 550;
}

#lightWhiteBG{
   -fx-background-color: rgba(255, 255,255, 0.4);
}



/* For Songs switch (sidePane) */
#sideDefault{
   -fx-background-color: transparent;
   -fx-background-repeat: round;
   -fx-background-position: center center;
}

#song1{
   -fx-image: url('Menu/SongList/song1.jpg');
   -fx-background-repeat: round;
   -fx-background-position: center center;
   -fx-background-size: 950, 550;
}